examples/Generate OTP for COWIN.json
[{"id":"f93148d39f8f2de8","type":"co-win-public-apis","z":"2e4f244c06bab2e0","service":"","method":"generateOTP","generateOTP_body":"","generateOTP_bodyType":"str","confirmOTP_body":"","confirmOTP_bodyType":"str","states_acceptLanguage":"","states_acceptLanguageType":"str","districts_acceptLanguage":"","districts_acceptLanguageType":"str","districts_stateId":"","districts_stateIdType":"str","findByPin_acceptLanguage":"hi_IN","findByPin_acceptLanguageType":"str","findByPin_pincode":"413714","findByPin_pincodeType":"str","findByPin_date":"08-02-2022","findByPin_dateType":"str","findByDistrict_acceptLanguage":"","findByDistrict_acceptLanguageType":"str","findByDistrict_districtId":"","findByDistrict_districtIdType":"str","findByDistrict_date":"","findByDistrict_dateType":"str","findByLatLong_acceptLanguage":"","findByLatLong_acceptLanguageType":"str","findByLatLong_lat":"","findByLatLong_latType":"str","findByLatLong_long":"","findByLatLong_longType":"str","calendarByPin_acceptLanguage":"","calendarByPin_acceptLanguageType":"str","calendarByPin_pincode":"","calendarByPin_pincodeType":"str","calendarByPin_date":"","calendarByPin_dateType":"str","calendarByDistrict_acceptLanguage":"","calendarByDistrict_acceptLanguageType":"str","calendarByDistrict_districtId":"","calendarByDistrict_districtIdType":"str","calendarByDistrict_date":"","calendarByDistrict_dateType":"str","calendarByCenter_acceptLanguage":"","calendarByCenter_acceptLanguageType":"str","calendarByCenter_centerId":"","calendarByCenter_centerIdType":"str","calendarByCenter_date":"","calendarByCenter_dateType":"str","download_beneficiaryReferenceId":"","download_beneficiaryReferenceIdType":"str","name":"","x":380,"y":260,"wires":[["b9e816dbbab865c7"]]},{"id":"14c2b9e7d2616df2","type":"inject","z":"2e4f244c06bab2e0","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mobile\": \"\"}","payloadType":"json","x":130,"y":260,"wires":[["f93148d39f8f2de8"]]},{"id":"b9e816dbbab865c7","type":"debug","z":"2e4f244c06bab2e0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":260,"wires":[]}]